@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400;600;900&display=swap");
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Lexend Deca', sans-serif;
}

body {
  background-color: #dedede;
}

nav {
  background-color: #b1b1b1;
  text-align: center;
  padding: 1rem;
  -webkit-box-shadow: 0px 10px 10px -1px rgba(0, 0, 0, 0.282);
          box-shadow: 0px 10px 10px -1px rgba(0, 0, 0, 0.282);
  border-style: solid;
  border-width: 0px 0px 1px;
  border-color: gray;
}

nav a {
  font-size: 1.5rem;
  color: black;
  font-weight: 900;
  padding: 0 1rem;
  text-decoration: none;
}

nav a:hover {
  color: #8000ff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.title {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 900;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.logoboxes {
  position: relative;
}

.logoboxes img {
  width: 12rem;
  -webkit-transform: scale(100%);
          transform: scale(100%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.logoboxes img:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.logoboxes h2 {
  text-align: center;
  font-size: 2rem;
}

.html-icon {
  color: #FF6E17;
}

.css-icon {
  color: #35A8DB;
}

.page-format {
  margin: 0 8rem;
}

.info-container {
  padding: 2rem 0;
  list-style-type: disc;
}

.info-container h3 {
  font-size: 2rem;
  padding: 0 0 1rem 2rem;
}

.info-container h4 {
  font-size: 1rem;
  padding: 0rem 0.5rem 1rem;
}

.info-container ul {
  padding: 0 0 0 2rem;
}

.info-container .w3-example {
  padding: 1rem 2rem;
  border-style: solid;
  border-width: 0px 0px 1px;
  border-color: gray;
}

.w3-codespan {
  color: crimson;
}

.full-bleed {
  -webkit-box-shadow: 0 0 0 100vmax #1F1E26;
          box-shadow: 0 0 0 100vmax #1F1E26;
  -webkit-clip-path: inset(0 -100vmax);
          clip-path: inset(0 -100vmax);
  background-color: #1F1E26;
}

.boxshadow {
  background-color: #ababab;
  -webkit-box-shadow: 0px 10px 10px -1px rgba(0, 0, 0, 0.282);
          box-shadow: 0px 10px 10px -1px rgba(0, 0, 0, 0.282);
}

.css {
  margin-left: auto;
  margin-right: auto;
  color: transparent;
  width: 8rem;
  position: relative;
  background: repeating-linear-gradient(to right, #5A2790 0%, #AB3585 50%, #5A2790 100%);
  background-size: 500% auto;
  background-position: 0 0%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-animation: gradient 15s infinite;
          animation: gradient 15s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.purple-text {
  color: #B4A1DB;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -500% 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -500% 0;
  }
}
/*# sourceMappingURL=style.css.map */