<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>HTML</title>
</head>
<body>
    <nav>
        <a href="index.html">Home</a>
        <a href="html.html">HTML</a>
        <a href="css.html">CSS</a>
        <a href="signup.html">Mentor Registration</a>
    </nav>
    <div class="title">
        <h1>HTML</h1>
    </div>

    <div class="page-format">
        <div class="info-container full-bleed purple-text">
            <h3>What is HTML?</h3>
            <ul class="html-list">
                <li>HTML stands for Hyper Text Markup Language</li>
                <li>HTML is the standard markup language for creating Web pages</li>
                <li>HTML describes the structure of a Web page</li>
                <li>HTML consists of a series of elements</li>
                <li>HTML elements tell the browser how to display the content</li>
                <li>HTML elements label pieces of content such as "this is a heading", "this
                is a paragraph", "this is a link", etc.</li>
            </ul>
        </div>
        <div class="info-container">
            <h3>A Simple HTML Document</h3>
            <div class="boxshadow">
                <div class="w3-example">
                    <h4>Example</h4>
                    <div class="w3-code">
                        <span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>!DOCTYPE<span class="attributecolor" style="color:red"> html</span><span class="tagcolor" style="color:mediumblue">&gt;</span></span><br>
                        <span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>html<span class="tagcolor" style="color:mediumblue">&gt;</span></span><br><span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>head<span class="tagcolor" style="color:mediumblue">&gt;</span></span><br><span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>title<span class="tagcolor" style="color:mediumblue">&gt;</span></span>Page Title<span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>/title<span class="tagcolor" style="color:mediumblue">&gt;</span></span><br>
                        <span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>/head<span class="tagcolor" style="color:mediumblue">&gt;</span></span><br>
                        <span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>body<span class="tagcolor" style="color:mediumblue">&gt;</span></span><br><br><span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>h1<span class="tagcolor" style="color:mediumblue">&gt;</span></span>My First Heading<span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>/h1<span class="tagcolor" style="color:mediumblue">&gt;</span></span><br><span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>p<span class="tagcolor" style="color:mediumblue">&gt;</span></span>My first paragraph.<span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>/p<span class="tagcolor" style="color:mediumblue">&gt;</span></span><br><br>
                            <span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>/body<span class="tagcolor" style="color:mediumblue">&gt;</span></span><br><span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>/html<span class="tagcolor" style="color:mediumblue">&gt;</span></span>
                     </div>
                </div>
            </div>
        </div>
        <div class="info-container full-bleed purple-text">
            <h3>Example Explained</h3>
            <ul>
                <li>The <code class="w3-codespan">&lt;!DOCTYPE html&gt;</code> declaration defines
                that this document is an HTML5 document</li>
                <li>The <code class="w3-codespan">&lt;html&gt;</code> element is the root element of an HTML
                page</li>
                 <li>The <code class="w3-codespan">&lt;head&gt;</code> element contains meta information about the
                 HTML page</li>
                 <li>The <code class="w3-codespan">&lt;title&gt;</code> element specifies a title for the
                 HTML page (which is shown in the browser's title bar or in the page's tab)</li>
                 <li>The <code class="w3-codespan">&lt;body&gt;</code> element defines the
                 document's body, and is a container for all the visible contents, such as
                 headings, paragraphs, images, hyperlinks, tables, lists, etc.</li>
                 <li>The <code class="w3-codespan">&lt;h1&gt;</code> element defines a large heading</li>
                 <li>The <code class="w3-codespan">&lt;p&gt;</code> element defines a paragraph</li>
                </ul>
        </div>
    </div>

</body>
</html>