<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/form.css">
    <title>Mentor Registration</title>
</head>
<body>
    <nav>
        <a href="index.html">Home</a>
        <a href="html.html">HTML</a>
        <a href="css.html">CSS</a>
        <a href="signup.html">Mentor Registration</a>
    </nav>

    <div class="title-container">
        <div class="title">
            <h1>Mentor Registration</h1>
        </div>
    </div>

    <!-- <h2>Mentor</h2> -->

    <div class="container">
        <form action="">
      
          <label for="fname">First Name</label>
          <input type="text" id="name" name="name" placeholder="Your name..">
      
          <label for="lastname">Last Name</label>
          <input type="text" id="lastname" name="lastname" placeholder="Your last name..">
      
          <label for="emailadress">Email</label>
          <input type="email" id="emailadress" name="emailadress" pattern=".+@" size="30" placeholder="name@domain.com" required="">      

          <label for="contactnumber">Contact number</label>
          <input type="number" id="contactnumber" name="contactnumber">
      
              
          <label for="dateofbirth">Date of Birth</label>
          <input type="date" id="dateofbirth" name="dateofbirth">
      
        
          <label for="introduce">Please introduce yourself</label>
          <textarea id="introduce" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      
          <input type="submit" value="Submit">
      
        </form>
      </div>     

</body>
</html>